<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo | Social</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav id="navbar" class="hidden">
        <div class="nav-content">
            <h2>Echo.</h2>
            <div class="nav-links">
                <button onclick="navigate('feed')">Home</button>
                <button onclick="navigate('profile')">Profile</button>
                <button onclick="logout()">Logout</button>
            </div>
        </div>
    </nav>

    <main id="app">
        </main>

    <script src="/static/script.js"></script>
</body>
</html>